select 'control.area_contexts' as table_name, count(*) as row_count from control.area_contexts;
select 'control.areas' as table_name, count(*) as row_count from control.areas;
select 'control.configuration_versions' as table_name, count(*) as row_count from control.configuration_versions;
select 'control.dataset_artifacts' as table_name, count(*) as row_count from control.dataset_artifacts;
select 'control.grid_cells' as table_name, count(*) as row_count from control.grid_cells;
select 'control.rule_set_versions' as table_name, count(*) as row_count from control.rule_set_versions;
select 'control.scenario_dataset_bindings' as table_name, count(*) as row_count from control.scenario_dataset_bindings;
select 'control.scenario_definitions' as table_name, count(*) as row_count from control.scenario_definitions;
select 'control.sensor_networks' as table_name, count(*) as row_count from control.sensor_networks;
select 'control.sensor_nodes' as table_name, count(*) as row_count from control.sensor_nodes;
select 'control.sensor_profiles' as table_name, count(*) as row_count from control.sensor_profiles;
select 'control.simulation_runs' as table_name, count(*) as row_count from control.simulation_runs;
select 'pipeline.event_inbox' as table_name, count(*) as row_count from pipeline.event_inbox;
select 'pipeline.processing_attempts' as table_name, count(*) as row_count from pipeline.processing_attempts;
select 'pipeline.quarantined_events' as table_name, count(*) as row_count from pipeline.quarantined_events;
select 'pipeline.rejected_events' as table_name, count(*) as row_count from pipeline.rejected_events;
select 'projection.accepted_reading_log' as table_name, count(*) as row_count from projection.accepted_reading_log;
select 'projection.alert_state' as table_name, count(*) as row_count from projection.alert_state;
select 'projection.area_operational_state' as table_name, count(*) as row_count from projection.area_operational_state;
select 'projection.area_risk_snapshot_log' as table_name, count(*) as row_count from projection.area_risk_snapshot_log;
select 'projection.cell_operational_state' as table_name, count(*) as row_count from projection.cell_operational_state;
select 'projection.daily_cell_state' as table_name, count(*) as row_count from projection.daily_cell_state;
select 'projection.risk_assessment_log' as table_name, count(*) as row_count from projection.risk_assessment_log;
