--
-- PostgreSQL database dump
--

\restrict RpS418tdv2UQbxb36OCSW6VtU7WJEmN2Pwr815wYl0IJbXLDkq0hnaz2veKI6DM

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: control; Type: SCHEMA; Schema: -; Owner: np
--

CREATE SCHEMA control;


ALTER SCHEMA control OWNER TO np;

--
-- Name: pipeline; Type: SCHEMA; Schema: -; Owner: np
--

CREATE SCHEMA pipeline;


ALTER SCHEMA pipeline OWNER TO np;

--
-- Name: projection; Type: SCHEMA; Schema: -; Owner: np
--

CREATE SCHEMA projection;


ALTER SCHEMA projection OWNER TO np;

--
-- Name: user_base; Type: SCHEMA; Schema: -; Owner: np
--

CREATE SCHEMA user_base;


ALTER SCHEMA user_base OWNER TO np;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: area_contexts; Type: TABLE; Schema: control; Owner: np
--

CREATE TABLE control.area_contexts (
    "Id" uuid NOT NULL,
    "AreaId" uuid NOT NULL,
    "VegetationType" character varying(200) NOT NULL,
    "VegetationDensity" double precision NOT NULL,
    "PopulationExposure" double precision NOT NULL,
    "CriticalInfrastructureExposure" double precision NOT NULL,
    "Seasonality" character varying(200) NOT NULL
);


ALTER TABLE control.area_contexts OWNER TO np;

--
-- Name: areas; Type: TABLE; Schema: control; Owner: np
--

CREATE TABLE control.areas (
    "Id" uuid NOT NULL,
    "ConfigurationVersionId" uuid NOT NULL,
    "Code" character varying(100) NOT NULL,
    "Name" character varying(200) NOT NULL,
    "CountryCode" character varying(10),
    "GeometryGeoJson" text,
    "MetadataJson" text
);


ALTER TABLE control.areas OWNER TO np;

--
-- Name: configuration_versions; Type: TABLE; Schema: control; Owner: np
--

CREATE TABLE control.configuration_versions (
    "Id" uuid NOT NULL,
    "VersionNumber" integer NOT NULL,
    "Description" character varying(500),
    "IsActive" boolean NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "CreatedBy" character varying(200)
);


ALTER TABLE control.configuration_versions OWNER TO np;

--
-- Name: dataset_artifacts; Type: TABLE; Schema: control; Owner: np
--

CREATE TABLE control.dataset_artifacts (
    "Id" uuid NOT NULL,
    "DatasetCode" character varying(150) NOT NULL,
    "DatasetType" character varying(100) NOT NULL,
    "SourceName" character varying(200) NOT NULL,
    "SourceUrl" character varying(1000),
    "AreaCode" character varying(100) NOT NULL,
    "Version" character varying(100) NOT NULL,
    "Format" character varying(50) NOT NULL,
    "RelativePath" character varying(1000) NOT NULL,
    "Checksum" character varying(200),
    "ValidFrom" date,
    "ValidTo" date,
    "MetadataJson" text
);


ALTER TABLE control.dataset_artifacts OWNER TO np;

--
-- Name: grid_cells; Type: TABLE; Schema: control; Owner: np
--

CREATE TABLE control.grid_cells (
    "Id" uuid NOT NULL,
    "AreaId" uuid NOT NULL,
    "ConfigurationVersionId" uuid NOT NULL,
    "CellCode" character varying(100) NOT NULL,
    "CentroidLatitude" double precision NOT NULL,
    "CentroidLongitude" double precision NOT NULL,
    "PolygonGeoJson" text,
    "AltitudeMeters" double precision,
    "SlopeDegrees" double precision,
    "AspectDegrees" double precision,
    "LandCoverClass" character varying(200),
    "DominantForestType" character varying(200),
    "DominantFuelModel" character varying(200),
    "TreeCoverDensity" double precision,
    "StructuralHazard" character varying(100),
    "ConjuncturalHazard" character varying(100)
);


ALTER TABLE control.grid_cells OWNER TO np;

--
-- Name: rule_set_versions; Type: TABLE; Schema: control; Owner: np
--

CREATE TABLE control.rule_set_versions (
    "Id" uuid NOT NULL,
    "ConfigurationVersionId" uuid NOT NULL,
    "Name" character varying(200) NOT NULL,
    "Version" character varying(100) NOT NULL,
    "Description" character varying(1000),
    "ParametersJson" text NOT NULL,
    "IsActive" boolean NOT NULL
);


ALTER TABLE control.rule_set_versions OWNER TO np;

--
-- Name: scenario_dataset_bindings; Type: TABLE; Schema: control; Owner: np
--

CREATE TABLE control.scenario_dataset_bindings (
    "Id" uuid NOT NULL,
    "ScenarioId" uuid NOT NULL,
    "DatasetArtifactId" uuid NOT NULL,
    "BindingRole" character varying(100) NOT NULL,
    "Notes" character varying(1000)
);


ALTER TABLE control.scenario_dataset_bindings OWNER TO np;

--
-- Name: scenario_definitions; Type: TABLE; Schema: control; Owner: np
--

CREATE TABLE control.scenario_definitions (
    "Id" uuid NOT NULL,
    "AreaId" uuid NOT NULL,
    "ConfigurationVersionId" uuid NOT NULL,
    "BaseScenarioId" uuid,
    "Code" character varying(100) NOT NULL,
    "Name" character varying(200) NOT NULL,
    "ScenarioKind" integer NOT NULL,
    "Description" character varying(1000),
    "ParametersJson" text NOT NULL
);


ALTER TABLE control.scenario_definitions OWNER TO np;

--
-- Name: sensor_networks; Type: TABLE; Schema: control; Owner: np
--

CREATE TABLE control.sensor_networks (
    "Id" uuid NOT NULL,
    "ConfigurationVersionId" uuid NOT NULL,
    "Name" character varying(200) NOT NULL
);


ALTER TABLE control.sensor_networks OWNER TO np;

--
-- Name: sensor_nodes; Type: TABLE; Schema: control; Owner: np
--

CREATE TABLE control.sensor_nodes (
    "Id" uuid NOT NULL,
    "AreaId" uuid NOT NULL,
    "GridCellId" uuid NOT NULL,
    "ProfileId" uuid NOT NULL,
    "ConfigurationVersionId" uuid NOT NULL,
    "NetworkId" uuid,
    "Name" character varying(200) NOT NULL,
    "Type" integer NOT NULL,
    "Latitude" double precision NOT NULL,
    "Longitude" double precision NOT NULL,
    "AltitudeMeters" double precision,
    "IsActive" boolean NOT NULL,
    "InstallationProfile" character varying(100)
);


ALTER TABLE control.sensor_nodes OWNER TO np;

--
-- Name: sensor_profiles; Type: TABLE; Schema: control; Owner: np
--

CREATE TABLE control.sensor_profiles (
    "Id" uuid NOT NULL,
    "ConfigurationVersionId" uuid NOT NULL,
    "Name" character varying(200) NOT NULL,
    "SensorFamily" character varying(100),
    "AccuracyProfileJson" text,
    "NoiseProfileJson" text,
    "FaultProfileJson" text,
    "PublicationPolicyJson" text
);


ALTER TABLE control.sensor_profiles OWNER TO np;

--
-- Name: simulation_runs; Type: TABLE; Schema: control; Owner: np
--

CREATE TABLE control.simulation_runs (
    "Id" uuid NOT NULL,
    "AreaId" uuid NOT NULL,
    "ScenarioId" uuid NOT NULL,
    "ConfigurationVersionId" uuid NOT NULL,
    "ScenarioCode" character varying(100) NOT NULL,
    "ScenarioName" character varying(200) NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "StartedAt" timestamp with time zone,
    "EndedAt" timestamp with time zone,
    "LogicalStartTimestamp" timestamp with time zone NOT NULL,
    "IntervalSeconds" integer NOT NULL,
    "NumberOfCycles" integer NOT NULL,
    "ExecutionSeed" integer,
    "Status" integer NOT NULL,
    "MetadataJson" text
);


ALTER TABLE control.simulation_runs OWNER TO np;

--
-- Name: event_inbox; Type: TABLE; Schema: pipeline; Owner: np
--

CREATE TABLE pipeline.event_inbox (
    "Id" uuid NOT NULL,
    "EventId" uuid NOT NULL,
    "SchemaVersion" character varying(50) NOT NULL,
    "CorrelationId" character varying(300) NOT NULL,
    "Producer" character varying(200) NOT NULL,
    "EventType" character varying(200) NOT NULL,
    "AreaId" uuid NOT NULL,
    "EventTime" timestamp with time zone NOT NULL,
    "ReceivedAt" timestamp with time zone NOT NULL,
    "IngestTime" timestamp with time zone,
    "PayloadJson" text NOT NULL,
    "EnvelopeJson" text NOT NULL,
    "Status" integer NOT NULL,
    "AttemptCount" integer NOT NULL,
    "LastAttemptAt" timestamp with time zone,
    "LastProcessedAt" timestamp with time zone,
    "LastErrorCode" character varying(100),
    "LastErrorMessage" character varying(2000),
    "NextAttemptNotBefore" timestamp with time zone,
    "QuarantinedAt" timestamp with time zone
);


ALTER TABLE pipeline.event_inbox OWNER TO np;

--
-- Name: processing_attempts; Type: TABLE; Schema: pipeline; Owner: np
--

CREATE TABLE pipeline.processing_attempts (
    "Id" uuid NOT NULL,
    "InboxEventId" uuid NOT NULL,
    "AttemptNumber" integer NOT NULL,
    "Stage" character varying(100) NOT NULL,
    "StartedAt" timestamp with time zone NOT NULL,
    "FinishedAt" timestamp with time zone,
    "Outcome" integer NOT NULL,
    "ErrorCode" character varying(100),
    "ErrorMessage" character varying(2000)
);


ALTER TABLE pipeline.processing_attempts OWNER TO np;

--
-- Name: quarantined_events; Type: TABLE; Schema: pipeline; Owner: np
--

CREATE TABLE pipeline.quarantined_events (
    "Id" uuid NOT NULL,
    "InboxEventId" uuid NOT NULL,
    "EventId" uuid NOT NULL,
    "FinalAttemptNumber" integer NOT NULL,
    "QuarantineCode" character varying(100) NOT NULL,
    "QuarantineReason" character varying(2000) NOT NULL,
    "QuarantinedAt" timestamp with time zone NOT NULL,
    "MetadataJson" text
);


ALTER TABLE pipeline.quarantined_events OWNER TO np;

--
-- Name: rejected_events; Type: TABLE; Schema: pipeline; Owner: np
--

CREATE TABLE pipeline.rejected_events (
    "Id" uuid NOT NULL,
    "InboxEventId" uuid,
    "EventId" uuid,
    "RejectionCode" character varying(100) NOT NULL,
    "RejectionReason" character varying(2000) NOT NULL,
    "RejectedAt" timestamp with time zone NOT NULL,
    "RawBodyUtf8" text NOT NULL,
    "MetadataJson" text
);


ALTER TABLE pipeline.rejected_events OWNER TO np;

--
-- Name: accepted_reading_log; Type: TABLE; Schema: projection; Owner: np
--

CREATE TABLE projection.accepted_reading_log (
    "Id" uuid NOT NULL,
    "EventId" uuid NOT NULL,
    "AreaId" uuid NOT NULL,
    "SensorId" uuid NOT NULL,
    "MetricType" character varying(100) NOT NULL,
    "MeasurementUnit" character varying(100) NOT NULL,
    "OperationalState" character varying(100) NOT NULL,
    "Value" double precision NOT NULL,
    "EventTime" timestamp with time zone NOT NULL,
    "IngestTime" timestamp with time zone,
    "Producer" character varying(200) NOT NULL,
    "CorrelationId" character varying(300) NOT NULL,
    "PayloadJson" text NOT NULL,
    "EnvelopeJson" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE projection.accepted_reading_log OWNER TO np;

--
-- Name: alert_state; Type: TABLE; Schema: projection; Owner: np
--

CREATE TABLE projection.alert_state (
    "Id" uuid NOT NULL,
    "AreaId" uuid NOT NULL,
    "ConfigurationVersionId" uuid NOT NULL,
    "AreaOperationalStateId" uuid NOT NULL,
    "AlertCode" character varying(100) NOT NULL,
    "Severity" character varying(50) NOT NULL,
    "Status" character varying(50) NOT NULL,
    "Message" character varying(2000) NOT NULL,
    "TriggeredAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL,
    "ResolvedAt" timestamp with time zone
);


ALTER TABLE projection.alert_state OWNER TO np;

--
-- Name: area_operational_state; Type: TABLE; Schema: projection; Owner: np
--

CREATE TABLE projection.area_operational_state (
    "Id" uuid NOT NULL,
    "AreaId" uuid NOT NULL,
    "ConfigurationVersionId" uuid NOT NULL,
    "SimulationRunId" uuid,
    "SnapshotTimestamp" timestamp with time zone NOT NULL,
    "AggregateRiskScore" double precision NOT NULL,
    "AggregateRiskLevel" character varying(50) NOT NULL,
    "Severity" character varying(50) NOT NULL,
    "Summary" character varying(2000),
    "AssessmentCount" integer NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL,
    "AlertCooldownUntil" timestamp with time zone,
    "PendingAlertCycles" integer DEFAULT 0 NOT NULL,
    "PendingAlertState" character varying(50) DEFAULT 'None'::character varying NOT NULL,
    "CarryForwardStatus" character varying(50) DEFAULT 'Current'::character varying NOT NULL,
    "CoverageStatus" character varying(50) DEFAULT 'Complete'::character varying NOT NULL,
    "FreshnessStatus" character varying(50) DEFAULT 'Fresh'::character varying NOT NULL
);


ALTER TABLE projection.area_operational_state OWNER TO np;

--
-- Name: area_risk_snapshot_log; Type: TABLE; Schema: projection; Owner: np
--

CREATE TABLE projection.area_risk_snapshot_log (
    "Id" uuid NOT NULL,
    "AreaId" uuid NOT NULL,
    "SimulationRunId" uuid,
    "SnapshotTimestamp" timestamp with time zone NOT NULL,
    "AggregateRiskScore" double precision NOT NULL,
    "AggregateRiskLevel" character varying(50) NOT NULL,
    "Summary" character varying(2000),
    "AssessmentCount" integer NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE projection.area_risk_snapshot_log OWNER TO np;

--
-- Name: cell_operational_state; Type: TABLE; Schema: projection; Owner: np
--

CREATE TABLE projection.cell_operational_state (
    "Id" uuid NOT NULL,
    "AreaId" uuid NOT NULL,
    "GridCellId" uuid NOT NULL,
    "SensorId" uuid,
    "LatestAssessmentId" uuid,
    "SnapshotTimestamp" timestamp with time zone NOT NULL,
    "RiskScore" double precision NOT NULL,
    "RiskLevel" character varying(50) NOT NULL,
    "Severity" character varying(50) NOT NULL,
    "Summary" character varying(2000),
    "UpdatedAt" timestamp with time zone NOT NULL,
    "CarryForwardStatus" character varying(50) DEFAULT 'Current'::character varying NOT NULL,
    "CoverageStatus" character varying(50) DEFAULT 'Complete'::character varying NOT NULL,
    "FreshnessStatus" character varying(50) DEFAULT 'Fresh'::character varying NOT NULL
);


ALTER TABLE projection.cell_operational_state OWNER TO np;

--
-- Name: daily_cell_state; Type: TABLE; Schema: projection; Owner: np
--

CREATE TABLE projection.daily_cell_state (
    "Id" uuid NOT NULL,
    "AreaId" uuid NOT NULL,
    "GridCellId" uuid NOT NULL,
    "SensorId" uuid,
    "SimulationRunId" uuid,
    "ConfigurationVersionId" uuid,
    "LogicalDate" timestamp with time zone NOT NULL,
    "DailyPrecipitationMillimeters" double precision,
    "MaxTemperatureCelsius" double precision,
    "LatestHumidityPercent" double precision,
    "LatestWindSpeedMetersPerSecond" double precision,
    "AntecedentState" text NOT NULL,
    "DroughtContext" text NOT NULL,
    "CandidateParameterSetVersion" character varying(100) NOT NULL,
    "Provenance" text NOT NULL,
    "LastSourceEventId" uuid,
    "LastUpdatedAt" timestamp with time zone NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL,
    "FireIndexProvenance" text DEFAULT ''::character varying NOT NULL,
    "FireWeatherIndex" double precision,
    "KeetchByramDroughtIndex" double precision,
    "BuildupIndex" double precision,
    "DroughtCode" double precision,
    "DuffMoistureCode" double precision,
    "FineFuelMoistureCode" double precision,
    "FireWeatherCalculationStatus" character varying(50) DEFAULT 'Missing'::character varying NOT NULL,
    "FireWeatherLimitations" text,
    "InitialSpreadIndex" double precision,
    "NormalizedFireWeatherIndex" double precision,
    "KbdiCalculationStatus" character varying(50) DEFAULT 'Missing'::character varying NOT NULL,
    "KbdiLimitations" text,
    "NormalizedKeetchByramDroughtIndex" double precision,
    "PreviousKeetchByramDroughtIndex" double precision
);


ALTER TABLE projection.daily_cell_state OWNER TO np;

--
-- Name: risk_assessment_log; Type: TABLE; Schema: projection; Owner: np
--

CREATE TABLE projection.risk_assessment_log (
    "Id" uuid NOT NULL,
    "AreaId" uuid NOT NULL,
    "SensorId" uuid NOT NULL,
    "GridCellId" uuid,
    "SourceEventId" uuid NOT NULL,
    "Timestamp" timestamp with time zone NOT NULL,
    "RiskScore" double precision NOT NULL,
    "RiskLevel" character varying(50) NOT NULL,
    "ExplanationSummary" character varying(2000),
    "CreatedAt" timestamp with time zone NOT NULL,
    "SimulationRunId" uuid,
    "AdjustedScore" double precision DEFAULT 1.0 NOT NULL,
    "BaseRisk" double precision DEFAULT 1.0 NOT NULL,
    "CalculationStatus" character varying(50) DEFAULT 'CandidateFallback'::character varying NOT NULL,
    "ConfidenceFactor" double precision DEFAULT 0.0 NOT NULL,
    "DominantDriver" character varying(50) DEFAULT 'Mixed'::character varying NOT NULL,
    "DroughtComponent" double precision DEFAULT 0.0 NOT NULL,
    "FuelComponent" double precision DEFAULT 0.0 NOT NULL,
    "GeomorphologyComponent" double precision DEFAULT 0.0 NOT NULL,
    "HazardComponent" double precision DEFAULT 0.0 NOT NULL,
    "IntegrityFactor" double precision DEFAULT 0.0 NOT NULL,
    "Limitations" character varying(1000),
    "MeteorologyComponent" double precision DEFAULT 0.0 NOT NULL,
    "ParameterSetVersion" character varying(100) DEFAULT 'Unknown'::character varying NOT NULL,
    "Score100" integer DEFAULT 0 NOT NULL,
    "TerritoryComponent" double precision DEFAULT 0.0 NOT NULL
);


ALTER TABLE projection.risk_assessment_log OWNER TO np;

--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: np
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO np;

--
-- Name: roles; Type: TABLE; Schema: user_base; Owner: np
--

CREATE TABLE user_base.roles (
    "Id" smallint NOT NULL,
    "Name" character varying(100) NOT NULL
);


ALTER TABLE user_base.roles OWNER TO np;

--
-- Name: roles_Id_seq; Type: SEQUENCE; Schema: user_base; Owner: np
--

ALTER TABLE user_base.roles ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME user_base."roles_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_roles; Type: TABLE; Schema: user_base; Owner: np
--

CREATE TABLE user_base.user_roles (
    "UserId" uuid NOT NULL,
    "RoleId" smallint NOT NULL,
    "UserId1" uuid
);


ALTER TABLE user_base.user_roles OWNER TO np;

--
-- Name: users; Type: TABLE; Schema: user_base; Owner: np
--

CREATE TABLE user_base.users (
    "Id" uuid NOT NULL,
    "Username" character varying(100) NOT NULL,
    "Email" character varying(200) NOT NULL,
    "PasswordHash" character varying(500) NOT NULL,
    "Organization" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE user_base.users OWNER TO np;

--
-- Name: area_contexts PK_area_contexts; Type: CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.area_contexts
    ADD CONSTRAINT "PK_area_contexts" PRIMARY KEY ("Id");


--
-- Name: areas PK_areas; Type: CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.areas
    ADD CONSTRAINT "PK_areas" PRIMARY KEY ("Id");


--
-- Name: configuration_versions PK_configuration_versions; Type: CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.configuration_versions
    ADD CONSTRAINT "PK_configuration_versions" PRIMARY KEY ("Id");


--
-- Name: dataset_artifacts PK_dataset_artifacts; Type: CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.dataset_artifacts
    ADD CONSTRAINT "PK_dataset_artifacts" PRIMARY KEY ("Id");


--
-- Name: grid_cells PK_grid_cells; Type: CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.grid_cells
    ADD CONSTRAINT "PK_grid_cells" PRIMARY KEY ("Id");


--
-- Name: rule_set_versions PK_rule_set_versions; Type: CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.rule_set_versions
    ADD CONSTRAINT "PK_rule_set_versions" PRIMARY KEY ("Id");


--
-- Name: scenario_dataset_bindings PK_scenario_dataset_bindings; Type: CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.scenario_dataset_bindings
    ADD CONSTRAINT "PK_scenario_dataset_bindings" PRIMARY KEY ("Id");


--
-- Name: scenario_definitions PK_scenario_definitions; Type: CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.scenario_definitions
    ADD CONSTRAINT "PK_scenario_definitions" PRIMARY KEY ("Id");


--
-- Name: sensor_networks PK_sensor_networks; Type: CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.sensor_networks
    ADD CONSTRAINT "PK_sensor_networks" PRIMARY KEY ("Id");


--
-- Name: sensor_nodes PK_sensor_nodes; Type: CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.sensor_nodes
    ADD CONSTRAINT "PK_sensor_nodes" PRIMARY KEY ("Id");


--
-- Name: sensor_profiles PK_sensor_profiles; Type: CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.sensor_profiles
    ADD CONSTRAINT "PK_sensor_profiles" PRIMARY KEY ("Id");


--
-- Name: simulation_runs PK_simulation_runs; Type: CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.simulation_runs
    ADD CONSTRAINT "PK_simulation_runs" PRIMARY KEY ("Id");


--
-- Name: event_inbox PK_event_inbox; Type: CONSTRAINT; Schema: pipeline; Owner: np
--

ALTER TABLE ONLY pipeline.event_inbox
    ADD CONSTRAINT "PK_event_inbox" PRIMARY KEY ("Id");


--
-- Name: processing_attempts PK_processing_attempts; Type: CONSTRAINT; Schema: pipeline; Owner: np
--

ALTER TABLE ONLY pipeline.processing_attempts
    ADD CONSTRAINT "PK_processing_attempts" PRIMARY KEY ("Id");


--
-- Name: quarantined_events PK_quarantined_events; Type: CONSTRAINT; Schema: pipeline; Owner: np
--

ALTER TABLE ONLY pipeline.quarantined_events
    ADD CONSTRAINT "PK_quarantined_events" PRIMARY KEY ("Id");


--
-- Name: rejected_events PK_rejected_events; Type: CONSTRAINT; Schema: pipeline; Owner: np
--

ALTER TABLE ONLY pipeline.rejected_events
    ADD CONSTRAINT "PK_rejected_events" PRIMARY KEY ("Id");


--
-- Name: accepted_reading_log PK_accepted_reading_log; Type: CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.accepted_reading_log
    ADD CONSTRAINT "PK_accepted_reading_log" PRIMARY KEY ("Id");


--
-- Name: alert_state PK_alert_state; Type: CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.alert_state
    ADD CONSTRAINT "PK_alert_state" PRIMARY KEY ("Id");


--
-- Name: area_operational_state PK_area_operational_state; Type: CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.area_operational_state
    ADD CONSTRAINT "PK_area_operational_state" PRIMARY KEY ("Id");


--
-- Name: area_risk_snapshot_log PK_area_risk_snapshot_log; Type: CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.area_risk_snapshot_log
    ADD CONSTRAINT "PK_area_risk_snapshot_log" PRIMARY KEY ("Id");


--
-- Name: cell_operational_state PK_cell_operational_state; Type: CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.cell_operational_state
    ADD CONSTRAINT "PK_cell_operational_state" PRIMARY KEY ("Id");


--
-- Name: daily_cell_state PK_daily_cell_state; Type: CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.daily_cell_state
    ADD CONSTRAINT "PK_daily_cell_state" PRIMARY KEY ("Id");


--
-- Name: risk_assessment_log PK_risk_assessment_log; Type: CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.risk_assessment_log
    ADD CONSTRAINT "PK_risk_assessment_log" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: np
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: roles PK_roles; Type: CONSTRAINT; Schema: user_base; Owner: np
--

ALTER TABLE ONLY user_base.roles
    ADD CONSTRAINT "PK_roles" PRIMARY KEY ("Id");


--
-- Name: user_roles PK_user_roles; Type: CONSTRAINT; Schema: user_base; Owner: np
--

ALTER TABLE ONLY user_base.user_roles
    ADD CONSTRAINT "PK_user_roles" PRIMARY KEY ("UserId", "RoleId");


--
-- Name: users PK_users; Type: CONSTRAINT; Schema: user_base; Owner: np
--

ALTER TABLE ONLY user_base.users
    ADD CONSTRAINT "PK_users" PRIMARY KEY ("Id");


--
-- Name: IX_area_contexts_AreaId; Type: INDEX; Schema: control; Owner: np
--

CREATE UNIQUE INDEX "IX_area_contexts_AreaId" ON control.area_contexts USING btree ("AreaId");


--
-- Name: IX_areas_ConfigurationVersionId_Code; Type: INDEX; Schema: control; Owner: np
--

CREATE UNIQUE INDEX "IX_areas_ConfigurationVersionId_Code" ON control.areas USING btree ("ConfigurationVersionId", "Code");


--
-- Name: IX_configuration_versions_VersionNumber; Type: INDEX; Schema: control; Owner: np
--

CREATE UNIQUE INDEX "IX_configuration_versions_VersionNumber" ON control.configuration_versions USING btree ("VersionNumber");


--
-- Name: IX_dataset_artifacts_DatasetCode_AreaCode_Version; Type: INDEX; Schema: control; Owner: np
--

CREATE UNIQUE INDEX "IX_dataset_artifacts_DatasetCode_AreaCode_Version" ON control.dataset_artifacts USING btree ("DatasetCode", "AreaCode", "Version");


--
-- Name: IX_grid_cells_AreaId_CellCode; Type: INDEX; Schema: control; Owner: np
--

CREATE UNIQUE INDEX "IX_grid_cells_AreaId_CellCode" ON control.grid_cells USING btree ("AreaId", "CellCode");


--
-- Name: IX_grid_cells_ConfigurationVersionId; Type: INDEX; Schema: control; Owner: np
--

CREATE INDEX "IX_grid_cells_ConfigurationVersionId" ON control.grid_cells USING btree ("ConfigurationVersionId");


--
-- Name: IX_rule_set_versions_ConfigurationVersionId_Name_Version; Type: INDEX; Schema: control; Owner: np
--

CREATE UNIQUE INDEX "IX_rule_set_versions_ConfigurationVersionId_Name_Version" ON control.rule_set_versions USING btree ("ConfigurationVersionId", "Name", "Version");


--
-- Name: IX_scenario_dataset_bindings_DatasetArtifactId; Type: INDEX; Schema: control; Owner: np
--

CREATE INDEX "IX_scenario_dataset_bindings_DatasetArtifactId" ON control.scenario_dataset_bindings USING btree ("DatasetArtifactId");


--
-- Name: IX_scenario_dataset_bindings_ScenarioId_DatasetArtifactId_Bind~; Type: INDEX; Schema: control; Owner: np
--

CREATE UNIQUE INDEX "IX_scenario_dataset_bindings_ScenarioId_DatasetArtifactId_Bind~" ON control.scenario_dataset_bindings USING btree ("ScenarioId", "DatasetArtifactId", "BindingRole");


--
-- Name: IX_scenario_definitions_AreaId_Code; Type: INDEX; Schema: control; Owner: np
--

CREATE UNIQUE INDEX "IX_scenario_definitions_AreaId_Code" ON control.scenario_definitions USING btree ("AreaId", "Code");


--
-- Name: IX_scenario_definitions_BaseScenarioId; Type: INDEX; Schema: control; Owner: np
--

CREATE INDEX "IX_scenario_definitions_BaseScenarioId" ON control.scenario_definitions USING btree ("BaseScenarioId");


--
-- Name: IX_scenario_definitions_ConfigurationVersionId; Type: INDEX; Schema: control; Owner: np
--

CREATE INDEX "IX_scenario_definitions_ConfigurationVersionId" ON control.scenario_definitions USING btree ("ConfigurationVersionId");


--
-- Name: IX_sensor_networks_ConfigurationVersionId_Name; Type: INDEX; Schema: control; Owner: np
--

CREATE UNIQUE INDEX "IX_sensor_networks_ConfigurationVersionId_Name" ON control.sensor_networks USING btree ("ConfigurationVersionId", "Name");


--
-- Name: IX_sensor_nodes_AreaId_GridCellId_Name; Type: INDEX; Schema: control; Owner: np
--

CREATE UNIQUE INDEX "IX_sensor_nodes_AreaId_GridCellId_Name" ON control.sensor_nodes USING btree ("AreaId", "GridCellId", "Name");


--
-- Name: IX_sensor_nodes_ConfigurationVersionId; Type: INDEX; Schema: control; Owner: np
--

CREATE INDEX "IX_sensor_nodes_ConfigurationVersionId" ON control.sensor_nodes USING btree ("ConfigurationVersionId");


--
-- Name: IX_sensor_nodes_GridCellId; Type: INDEX; Schema: control; Owner: np
--

CREATE INDEX "IX_sensor_nodes_GridCellId" ON control.sensor_nodes USING btree ("GridCellId");


--
-- Name: IX_sensor_nodes_NetworkId; Type: INDEX; Schema: control; Owner: np
--

CREATE INDEX "IX_sensor_nodes_NetworkId" ON control.sensor_nodes USING btree ("NetworkId");


--
-- Name: IX_sensor_nodes_ProfileId; Type: INDEX; Schema: control; Owner: np
--

CREATE INDEX "IX_sensor_nodes_ProfileId" ON control.sensor_nodes USING btree ("ProfileId");


--
-- Name: IX_sensor_profiles_ConfigurationVersionId_Name; Type: INDEX; Schema: control; Owner: np
--

CREATE UNIQUE INDEX "IX_sensor_profiles_ConfigurationVersionId_Name" ON control.sensor_profiles USING btree ("ConfigurationVersionId", "Name");


--
-- Name: IX_simulation_runs_AreaId_CreatedAt; Type: INDEX; Schema: control; Owner: np
--

CREATE INDEX "IX_simulation_runs_AreaId_CreatedAt" ON control.simulation_runs USING btree ("AreaId", "CreatedAt");


--
-- Name: IX_simulation_runs_ConfigurationVersionId; Type: INDEX; Schema: control; Owner: np
--

CREATE INDEX "IX_simulation_runs_ConfigurationVersionId" ON control.simulation_runs USING btree ("ConfigurationVersionId");


--
-- Name: IX_simulation_runs_ScenarioId_CreatedAt; Type: INDEX; Schema: control; Owner: np
--

CREATE INDEX "IX_simulation_runs_ScenarioId_CreatedAt" ON control.simulation_runs USING btree ("ScenarioId", "CreatedAt");


--
-- Name: IX_event_inbox_EventId; Type: INDEX; Schema: pipeline; Owner: np
--

CREATE UNIQUE INDEX "IX_event_inbox_EventId" ON pipeline.event_inbox USING btree ("EventId");


--
-- Name: IX_event_inbox_Status_NextAttemptNotBefore; Type: INDEX; Schema: pipeline; Owner: np
--

CREATE INDEX "IX_event_inbox_Status_NextAttemptNotBefore" ON pipeline.event_inbox USING btree ("Status", "NextAttemptNotBefore");


--
-- Name: IX_event_inbox_Status_ReceivedAt; Type: INDEX; Schema: pipeline; Owner: np
--

CREATE INDEX "IX_event_inbox_Status_ReceivedAt" ON pipeline.event_inbox USING btree ("Status", "ReceivedAt");


--
-- Name: IX_processing_attempts_InboxEventId_AttemptNumber; Type: INDEX; Schema: pipeline; Owner: np
--

CREATE UNIQUE INDEX "IX_processing_attempts_InboxEventId_AttemptNumber" ON pipeline.processing_attempts USING btree ("InboxEventId", "AttemptNumber");


--
-- Name: IX_quarantined_events_EventId; Type: INDEX; Schema: pipeline; Owner: np
--

CREATE INDEX "IX_quarantined_events_EventId" ON pipeline.quarantined_events USING btree ("EventId");


--
-- Name: IX_quarantined_events_InboxEventId; Type: INDEX; Schema: pipeline; Owner: np
--

CREATE INDEX "IX_quarantined_events_InboxEventId" ON pipeline.quarantined_events USING btree ("InboxEventId");


--
-- Name: IX_quarantined_events_QuarantinedAt; Type: INDEX; Schema: pipeline; Owner: np
--

CREATE INDEX "IX_quarantined_events_QuarantinedAt" ON pipeline.quarantined_events USING btree ("QuarantinedAt");


--
-- Name: IX_rejected_events_InboxEventId; Type: INDEX; Schema: pipeline; Owner: np
--

CREATE INDEX "IX_rejected_events_InboxEventId" ON pipeline.rejected_events USING btree ("InboxEventId");


--
-- Name: IX_rejected_events_RejectedAt; Type: INDEX; Schema: pipeline; Owner: np
--

CREATE INDEX "IX_rejected_events_RejectedAt" ON pipeline.rejected_events USING btree ("RejectedAt");


--
-- Name: IX_accepted_reading_log_AreaId_EventTime; Type: INDEX; Schema: projection; Owner: np
--

CREATE INDEX "IX_accepted_reading_log_AreaId_EventTime" ON projection.accepted_reading_log USING btree ("AreaId", "EventTime");


--
-- Name: IX_accepted_reading_log_EventId; Type: INDEX; Schema: projection; Owner: np
--

CREATE UNIQUE INDEX "IX_accepted_reading_log_EventId" ON projection.accepted_reading_log USING btree ("EventId");


--
-- Name: IX_accepted_reading_log_SensorId_EventTime; Type: INDEX; Schema: projection; Owner: np
--

CREATE INDEX "IX_accepted_reading_log_SensorId_EventTime" ON projection.accepted_reading_log USING btree ("SensorId", "EventTime");


--
-- Name: IX_alert_state_AreaId_AlertCode_Status; Type: INDEX; Schema: projection; Owner: np
--

CREATE INDEX "IX_alert_state_AreaId_AlertCode_Status" ON projection.alert_state USING btree ("AreaId", "AlertCode", "Status");


--
-- Name: IX_alert_state_AreaOperationalStateId; Type: INDEX; Schema: projection; Owner: np
--

CREATE INDEX "IX_alert_state_AreaOperationalStateId" ON projection.alert_state USING btree ("AreaOperationalStateId");


--
-- Name: IX_alert_state_ConfigurationVersionId; Type: INDEX; Schema: projection; Owner: np
--

CREATE INDEX "IX_alert_state_ConfigurationVersionId" ON projection.alert_state USING btree ("ConfigurationVersionId");


--
-- Name: IX_alert_state_UpdatedAt; Type: INDEX; Schema: projection; Owner: np
--

CREATE INDEX "IX_alert_state_UpdatedAt" ON projection.alert_state USING btree ("UpdatedAt");


--
-- Name: IX_area_operational_state_AreaId; Type: INDEX; Schema: projection; Owner: np
--

CREATE UNIQUE INDEX "IX_area_operational_state_AreaId" ON projection.area_operational_state USING btree ("AreaId");


--
-- Name: IX_area_operational_state_ConfigurationVersionId; Type: INDEX; Schema: projection; Owner: np
--

CREATE INDEX "IX_area_operational_state_ConfigurationVersionId" ON projection.area_operational_state USING btree ("ConfigurationVersionId");


--
-- Name: IX_area_operational_state_SimulationRunId; Type: INDEX; Schema: projection; Owner: np
--

CREATE INDEX "IX_area_operational_state_SimulationRunId" ON projection.area_operational_state USING btree ("SimulationRunId");


--
-- Name: IX_area_operational_state_SnapshotTimestamp; Type: INDEX; Schema: projection; Owner: np
--

CREATE INDEX "IX_area_operational_state_SnapshotTimestamp" ON projection.area_operational_state USING btree ("SnapshotTimestamp");


--
-- Name: IX_area_risk_snapshot_log_AreaId_SnapshotTimestamp; Type: INDEX; Schema: projection; Owner: np
--

CREATE INDEX "IX_area_risk_snapshot_log_AreaId_SnapshotTimestamp" ON projection.area_risk_snapshot_log USING btree ("AreaId", "SnapshotTimestamp");


--
-- Name: IX_area_risk_snapshot_log_SimulationRunId; Type: INDEX; Schema: projection; Owner: np
--

CREATE INDEX "IX_area_risk_snapshot_log_SimulationRunId" ON projection.area_risk_snapshot_log USING btree ("SimulationRunId");


--
-- Name: IX_cell_operational_state_AreaId_SnapshotTimestamp; Type: INDEX; Schema: projection; Owner: np
--

CREATE INDEX "IX_cell_operational_state_AreaId_SnapshotTimestamp" ON projection.cell_operational_state USING btree ("AreaId", "SnapshotTimestamp");


--
-- Name: IX_cell_operational_state_GridCellId; Type: INDEX; Schema: projection; Owner: np
--

CREATE UNIQUE INDEX "IX_cell_operational_state_GridCellId" ON projection.cell_operational_state USING btree ("GridCellId");


--
-- Name: IX_cell_operational_state_SensorId; Type: INDEX; Schema: projection; Owner: np
--

CREATE INDEX "IX_cell_operational_state_SensorId" ON projection.cell_operational_state USING btree ("SensorId");


--
-- Name: IX_daily_cell_state_AreaId_GridCellId_LogicalDate_SimulationRu~; Type: INDEX; Schema: projection; Owner: np
--

CREATE UNIQUE INDEX "IX_daily_cell_state_AreaId_GridCellId_LogicalDate_SimulationRu~" ON projection.daily_cell_state USING btree ("AreaId", "GridCellId", "LogicalDate", "SimulationRunId");


--
-- Name: IX_daily_cell_state_ConfigurationVersionId; Type: INDEX; Schema: projection; Owner: np
--

CREATE INDEX "IX_daily_cell_state_ConfigurationVersionId" ON projection.daily_cell_state USING btree ("ConfigurationVersionId");


--
-- Name: IX_daily_cell_state_GridCellId; Type: INDEX; Schema: projection; Owner: np
--

CREATE INDEX "IX_daily_cell_state_GridCellId" ON projection.daily_cell_state USING btree ("GridCellId");


--
-- Name: IX_daily_cell_state_SensorId_LogicalDate; Type: INDEX; Schema: projection; Owner: np
--

CREATE INDEX "IX_daily_cell_state_SensorId_LogicalDate" ON projection.daily_cell_state USING btree ("SensorId", "LogicalDate");


--
-- Name: IX_daily_cell_state_SimulationRunId; Type: INDEX; Schema: projection; Owner: np
--

CREATE INDEX "IX_daily_cell_state_SimulationRunId" ON projection.daily_cell_state USING btree ("SimulationRunId");


--
-- Name: IX_risk_assessment_log_AreaId_SimulationRunId_Timestamp; Type: INDEX; Schema: projection; Owner: np
--

CREATE INDEX "IX_risk_assessment_log_AreaId_SimulationRunId_Timestamp" ON projection.risk_assessment_log USING btree ("AreaId", "SimulationRunId", "Timestamp");


--
-- Name: IX_risk_assessment_log_AreaId_Timestamp; Type: INDEX; Schema: projection; Owner: np
--

CREATE INDEX "IX_risk_assessment_log_AreaId_Timestamp" ON projection.risk_assessment_log USING btree ("AreaId", "Timestamp");


--
-- Name: IX_risk_assessment_log_GridCellId_Timestamp; Type: INDEX; Schema: projection; Owner: np
--

CREATE INDEX "IX_risk_assessment_log_GridCellId_Timestamp" ON projection.risk_assessment_log USING btree ("GridCellId", "Timestamp");


--
-- Name: IX_risk_assessment_log_SensorId; Type: INDEX; Schema: projection; Owner: np
--

CREATE INDEX "IX_risk_assessment_log_SensorId" ON projection.risk_assessment_log USING btree ("SensorId");


--
-- Name: IX_risk_assessment_log_SimulationRunId; Type: INDEX; Schema: projection; Owner: np
--

CREATE INDEX "IX_risk_assessment_log_SimulationRunId" ON projection.risk_assessment_log USING btree ("SimulationRunId");


--
-- Name: IX_risk_assessment_log_SourceEventId; Type: INDEX; Schema: projection; Owner: np
--

CREATE UNIQUE INDEX "IX_risk_assessment_log_SourceEventId" ON projection.risk_assessment_log USING btree ("SourceEventId");


--
-- Name: IX_roles_Name; Type: INDEX; Schema: user_base; Owner: np
--

CREATE UNIQUE INDEX "IX_roles_Name" ON user_base.roles USING btree ("Name");


--
-- Name: IX_user_roles_RoleId; Type: INDEX; Schema: user_base; Owner: np
--

CREATE INDEX "IX_user_roles_RoleId" ON user_base.user_roles USING btree ("RoleId");


--
-- Name: IX_user_roles_UserId1; Type: INDEX; Schema: user_base; Owner: np
--

CREATE INDEX "IX_user_roles_UserId1" ON user_base.user_roles USING btree ("UserId1");


--
-- Name: IX_users_Email; Type: INDEX; Schema: user_base; Owner: np
--

CREATE UNIQUE INDEX "IX_users_Email" ON user_base.users USING btree ("Email");


--
-- Name: area_contexts FK_area_contexts_areas_AreaId; Type: FK CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.area_contexts
    ADD CONSTRAINT "FK_area_contexts_areas_AreaId" FOREIGN KEY ("AreaId") REFERENCES control.areas("Id") ON DELETE CASCADE;


--
-- Name: areas FK_areas_configuration_versions_ConfigurationVersionId; Type: FK CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.areas
    ADD CONSTRAINT "FK_areas_configuration_versions_ConfigurationVersionId" FOREIGN KEY ("ConfigurationVersionId") REFERENCES control.configuration_versions("Id") ON DELETE RESTRICT;


--
-- Name: grid_cells FK_grid_cells_areas_AreaId; Type: FK CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.grid_cells
    ADD CONSTRAINT "FK_grid_cells_areas_AreaId" FOREIGN KEY ("AreaId") REFERENCES control.areas("Id") ON DELETE CASCADE;


--
-- Name: grid_cells FK_grid_cells_configuration_versions_ConfigurationVersionId; Type: FK CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.grid_cells
    ADD CONSTRAINT "FK_grid_cells_configuration_versions_ConfigurationVersionId" FOREIGN KEY ("ConfigurationVersionId") REFERENCES control.configuration_versions("Id") ON DELETE RESTRICT;


--
-- Name: rule_set_versions FK_rule_set_versions_configuration_versions_ConfigurationVersi~; Type: FK CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.rule_set_versions
    ADD CONSTRAINT "FK_rule_set_versions_configuration_versions_ConfigurationVersi~" FOREIGN KEY ("ConfigurationVersionId") REFERENCES control.configuration_versions("Id") ON DELETE RESTRICT;


--
-- Name: scenario_dataset_bindings FK_scenario_dataset_bindings_dataset_artifacts_DatasetArtifact~; Type: FK CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.scenario_dataset_bindings
    ADD CONSTRAINT "FK_scenario_dataset_bindings_dataset_artifacts_DatasetArtifact~" FOREIGN KEY ("DatasetArtifactId") REFERENCES control.dataset_artifacts("Id") ON DELETE CASCADE;


--
-- Name: scenario_dataset_bindings FK_scenario_dataset_bindings_scenario_definitions_ScenarioId; Type: FK CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.scenario_dataset_bindings
    ADD CONSTRAINT "FK_scenario_dataset_bindings_scenario_definitions_ScenarioId" FOREIGN KEY ("ScenarioId") REFERENCES control.scenario_definitions("Id") ON DELETE CASCADE;


--
-- Name: scenario_definitions FK_scenario_definitions_areas_AreaId; Type: FK CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.scenario_definitions
    ADD CONSTRAINT "FK_scenario_definitions_areas_AreaId" FOREIGN KEY ("AreaId") REFERENCES control.areas("Id") ON DELETE CASCADE;


--
-- Name: scenario_definitions FK_scenario_definitions_configuration_versions_ConfigurationVe~; Type: FK CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.scenario_definitions
    ADD CONSTRAINT "FK_scenario_definitions_configuration_versions_ConfigurationVe~" FOREIGN KEY ("ConfigurationVersionId") REFERENCES control.configuration_versions("Id") ON DELETE RESTRICT;


--
-- Name: scenario_definitions FK_scenario_definitions_scenario_definitions_BaseScenarioId; Type: FK CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.scenario_definitions
    ADD CONSTRAINT "FK_scenario_definitions_scenario_definitions_BaseScenarioId" FOREIGN KEY ("BaseScenarioId") REFERENCES control.scenario_definitions("Id") ON DELETE RESTRICT;


--
-- Name: sensor_networks FK_sensor_networks_configuration_versions_ConfigurationVersion~; Type: FK CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.sensor_networks
    ADD CONSTRAINT "FK_sensor_networks_configuration_versions_ConfigurationVersion~" FOREIGN KEY ("ConfigurationVersionId") REFERENCES control.configuration_versions("Id") ON DELETE RESTRICT;


--
-- Name: sensor_nodes FK_sensor_nodes_areas_AreaId; Type: FK CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.sensor_nodes
    ADD CONSTRAINT "FK_sensor_nodes_areas_AreaId" FOREIGN KEY ("AreaId") REFERENCES control.areas("Id") ON DELETE CASCADE;


--
-- Name: sensor_nodes FK_sensor_nodes_configuration_versions_ConfigurationVersionId; Type: FK CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.sensor_nodes
    ADD CONSTRAINT "FK_sensor_nodes_configuration_versions_ConfigurationVersionId" FOREIGN KEY ("ConfigurationVersionId") REFERENCES control.configuration_versions("Id") ON DELETE RESTRICT;


--
-- Name: sensor_nodes FK_sensor_nodes_grid_cells_GridCellId; Type: FK CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.sensor_nodes
    ADD CONSTRAINT "FK_sensor_nodes_grid_cells_GridCellId" FOREIGN KEY ("GridCellId") REFERENCES control.grid_cells("Id") ON DELETE RESTRICT;


--
-- Name: sensor_nodes FK_sensor_nodes_sensor_networks_NetworkId; Type: FK CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.sensor_nodes
    ADD CONSTRAINT "FK_sensor_nodes_sensor_networks_NetworkId" FOREIGN KEY ("NetworkId") REFERENCES control.sensor_networks("Id") ON DELETE SET NULL;


--
-- Name: sensor_nodes FK_sensor_nodes_sensor_profiles_ProfileId; Type: FK CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.sensor_nodes
    ADD CONSTRAINT "FK_sensor_nodes_sensor_profiles_ProfileId" FOREIGN KEY ("ProfileId") REFERENCES control.sensor_profiles("Id") ON DELETE RESTRICT;


--
-- Name: sensor_profiles FK_sensor_profiles_configuration_versions_ConfigurationVersion~; Type: FK CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.sensor_profiles
    ADD CONSTRAINT "FK_sensor_profiles_configuration_versions_ConfigurationVersion~" FOREIGN KEY ("ConfigurationVersionId") REFERENCES control.configuration_versions("Id") ON DELETE RESTRICT;


--
-- Name: simulation_runs FK_simulation_runs_areas_AreaId; Type: FK CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.simulation_runs
    ADD CONSTRAINT "FK_simulation_runs_areas_AreaId" FOREIGN KEY ("AreaId") REFERENCES control.areas("Id") ON DELETE CASCADE;


--
-- Name: simulation_runs FK_simulation_runs_configuration_versions_ConfigurationVersion~; Type: FK CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.simulation_runs
    ADD CONSTRAINT "FK_simulation_runs_configuration_versions_ConfigurationVersion~" FOREIGN KEY ("ConfigurationVersionId") REFERENCES control.configuration_versions("Id") ON DELETE RESTRICT;


--
-- Name: simulation_runs FK_simulation_runs_scenario_definitions_ScenarioId; Type: FK CONSTRAINT; Schema: control; Owner: np
--

ALTER TABLE ONLY control.simulation_runs
    ADD CONSTRAINT "FK_simulation_runs_scenario_definitions_ScenarioId" FOREIGN KEY ("ScenarioId") REFERENCES control.scenario_definitions("Id") ON DELETE RESTRICT;


--
-- Name: processing_attempts FK_processing_attempts_event_inbox_InboxEventId; Type: FK CONSTRAINT; Schema: pipeline; Owner: np
--

ALTER TABLE ONLY pipeline.processing_attempts
    ADD CONSTRAINT "FK_processing_attempts_event_inbox_InboxEventId" FOREIGN KEY ("InboxEventId") REFERENCES pipeline.event_inbox("Id") ON DELETE CASCADE;


--
-- Name: quarantined_events FK_quarantined_events_event_inbox_InboxEventId; Type: FK CONSTRAINT; Schema: pipeline; Owner: np
--

ALTER TABLE ONLY pipeline.quarantined_events
    ADD CONSTRAINT "FK_quarantined_events_event_inbox_InboxEventId" FOREIGN KEY ("InboxEventId") REFERENCES pipeline.event_inbox("Id") ON DELETE CASCADE;


--
-- Name: rejected_events FK_rejected_events_event_inbox_InboxEventId; Type: FK CONSTRAINT; Schema: pipeline; Owner: np
--

ALTER TABLE ONLY pipeline.rejected_events
    ADD CONSTRAINT "FK_rejected_events_event_inbox_InboxEventId" FOREIGN KEY ("InboxEventId") REFERENCES pipeline.event_inbox("Id") ON DELETE SET NULL;


--
-- Name: accepted_reading_log FK_accepted_reading_log_areas_AreaId; Type: FK CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.accepted_reading_log
    ADD CONSTRAINT "FK_accepted_reading_log_areas_AreaId" FOREIGN KEY ("AreaId") REFERENCES control.areas("Id") ON DELETE CASCADE;


--
-- Name: accepted_reading_log FK_accepted_reading_log_sensor_nodes_SensorId; Type: FK CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.accepted_reading_log
    ADD CONSTRAINT "FK_accepted_reading_log_sensor_nodes_SensorId" FOREIGN KEY ("SensorId") REFERENCES control.sensor_nodes("Id") ON DELETE RESTRICT;


--
-- Name: alert_state FK_alert_state_area_operational_state_AreaOperationalStateId; Type: FK CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.alert_state
    ADD CONSTRAINT "FK_alert_state_area_operational_state_AreaOperationalStateId" FOREIGN KEY ("AreaOperationalStateId") REFERENCES projection.area_operational_state("Id") ON DELETE CASCADE;


--
-- Name: alert_state FK_alert_state_areas_AreaId; Type: FK CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.alert_state
    ADD CONSTRAINT "FK_alert_state_areas_AreaId" FOREIGN KEY ("AreaId") REFERENCES control.areas("Id") ON DELETE CASCADE;


--
-- Name: alert_state FK_alert_state_configuration_versions_ConfigurationVersionId; Type: FK CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.alert_state
    ADD CONSTRAINT "FK_alert_state_configuration_versions_ConfigurationVersionId" FOREIGN KEY ("ConfigurationVersionId") REFERENCES control.configuration_versions("Id") ON DELETE RESTRICT;


--
-- Name: area_operational_state FK_area_operational_state_areas_AreaId; Type: FK CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.area_operational_state
    ADD CONSTRAINT "FK_area_operational_state_areas_AreaId" FOREIGN KEY ("AreaId") REFERENCES control.areas("Id") ON DELETE CASCADE;


--
-- Name: area_operational_state FK_area_operational_state_configuration_versions_ConfigurationV; Type: FK CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.area_operational_state
    ADD CONSTRAINT "FK_area_operational_state_configuration_versions_ConfigurationV" FOREIGN KEY ("ConfigurationVersionId") REFERENCES control.configuration_versions("Id") ON DELETE RESTRICT;


--
-- Name: area_operational_state FK_area_operational_state_simulation_runs_SimulationRunId; Type: FK CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.area_operational_state
    ADD CONSTRAINT "FK_area_operational_state_simulation_runs_SimulationRunId" FOREIGN KEY ("SimulationRunId") REFERENCES control.simulation_runs("Id") ON DELETE SET NULL;


--
-- Name: area_risk_snapshot_log FK_area_risk_snapshot_log_areas_AreaId; Type: FK CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.area_risk_snapshot_log
    ADD CONSTRAINT "FK_area_risk_snapshot_log_areas_AreaId" FOREIGN KEY ("AreaId") REFERENCES control.areas("Id") ON DELETE CASCADE;


--
-- Name: area_risk_snapshot_log FK_area_risk_snapshot_log_simulation_runs_SimulationRunId; Type: FK CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.area_risk_snapshot_log
    ADD CONSTRAINT "FK_area_risk_snapshot_log_simulation_runs_SimulationRunId" FOREIGN KEY ("SimulationRunId") REFERENCES control.simulation_runs("Id") ON DELETE SET NULL;


--
-- Name: cell_operational_state FK_cell_operational_state_areas_AreaId; Type: FK CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.cell_operational_state
    ADD CONSTRAINT "FK_cell_operational_state_areas_AreaId" FOREIGN KEY ("AreaId") REFERENCES control.areas("Id") ON DELETE CASCADE;


--
-- Name: cell_operational_state FK_cell_operational_state_grid_cells_GridCellId; Type: FK CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.cell_operational_state
    ADD CONSTRAINT "FK_cell_operational_state_grid_cells_GridCellId" FOREIGN KEY ("GridCellId") REFERENCES control.grid_cells("Id") ON DELETE CASCADE;


--
-- Name: cell_operational_state FK_cell_operational_state_sensor_nodes_SensorId; Type: FK CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.cell_operational_state
    ADD CONSTRAINT "FK_cell_operational_state_sensor_nodes_SensorId" FOREIGN KEY ("SensorId") REFERENCES control.sensor_nodes("Id") ON DELETE SET NULL;


--
-- Name: daily_cell_state FK_daily_cell_state_areas_AreaId; Type: FK CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.daily_cell_state
    ADD CONSTRAINT "FK_daily_cell_state_areas_AreaId" FOREIGN KEY ("AreaId") REFERENCES control.areas("Id") ON DELETE CASCADE;


--
-- Name: daily_cell_state FK_daily_cell_state_configuration_versions_ConfigurationVersio~; Type: FK CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.daily_cell_state
    ADD CONSTRAINT "FK_daily_cell_state_configuration_versions_ConfigurationVersio~" FOREIGN KEY ("ConfigurationVersionId") REFERENCES control.configuration_versions("Id") ON DELETE SET NULL;


--
-- Name: daily_cell_state FK_daily_cell_state_grid_cells_GridCellId; Type: FK CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.daily_cell_state
    ADD CONSTRAINT "FK_daily_cell_state_grid_cells_GridCellId" FOREIGN KEY ("GridCellId") REFERENCES control.grid_cells("Id") ON DELETE CASCADE;


--
-- Name: daily_cell_state FK_daily_cell_state_sensor_nodes_SensorId; Type: FK CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.daily_cell_state
    ADD CONSTRAINT "FK_daily_cell_state_sensor_nodes_SensorId" FOREIGN KEY ("SensorId") REFERENCES control.sensor_nodes("Id") ON DELETE SET NULL;


--
-- Name: daily_cell_state FK_daily_cell_state_simulation_runs_SimulationRunId; Type: FK CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.daily_cell_state
    ADD CONSTRAINT "FK_daily_cell_state_simulation_runs_SimulationRunId" FOREIGN KEY ("SimulationRunId") REFERENCES control.simulation_runs("Id") ON DELETE SET NULL;


--
-- Name: risk_assessment_log FK_risk_assessment_log_areas_AreaId; Type: FK CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.risk_assessment_log
    ADD CONSTRAINT "FK_risk_assessment_log_areas_AreaId" FOREIGN KEY ("AreaId") REFERENCES control.areas("Id") ON DELETE CASCADE;


--
-- Name: risk_assessment_log FK_risk_assessment_log_grid_cells_GridCellId; Type: FK CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.risk_assessment_log
    ADD CONSTRAINT "FK_risk_assessment_log_grid_cells_GridCellId" FOREIGN KEY ("GridCellId") REFERENCES control.grid_cells("Id") ON DELETE SET NULL;


--
-- Name: risk_assessment_log FK_risk_assessment_log_sensor_nodes_SensorId; Type: FK CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.risk_assessment_log
    ADD CONSTRAINT "FK_risk_assessment_log_sensor_nodes_SensorId" FOREIGN KEY ("SensorId") REFERENCES control.sensor_nodes("Id") ON DELETE RESTRICT;


--
-- Name: risk_assessment_log FK_risk_assessment_log_simulation_runs_SimulationRunId; Type: FK CONSTRAINT; Schema: projection; Owner: np
--

ALTER TABLE ONLY projection.risk_assessment_log
    ADD CONSTRAINT "FK_risk_assessment_log_simulation_runs_SimulationRunId" FOREIGN KEY ("SimulationRunId") REFERENCES control.simulation_runs("Id") ON DELETE SET NULL;


--
-- Name: user_roles FK_user_roles_roles_RoleId; Type: FK CONSTRAINT; Schema: user_base; Owner: np
--

ALTER TABLE ONLY user_base.user_roles
    ADD CONSTRAINT "FK_user_roles_roles_RoleId" FOREIGN KEY ("RoleId") REFERENCES user_base.roles("Id") ON DELETE CASCADE;


--
-- Name: user_roles FK_user_roles_users_UserId; Type: FK CONSTRAINT; Schema: user_base; Owner: np
--

ALTER TABLE ONLY user_base.user_roles
    ADD CONSTRAINT "FK_user_roles_users_UserId" FOREIGN KEY ("UserId") REFERENCES user_base.users("Id") ON DELETE CASCADE;


--
-- Name: user_roles FK_user_roles_users_UserId1; Type: FK CONSTRAINT; Schema: user_base; Owner: np
--

ALTER TABLE ONLY user_base.user_roles
    ADD CONSTRAINT "FK_user_roles_users_UserId1" FOREIGN KEY ("UserId1") REFERENCES user_base.users("Id");


--
-- PostgreSQL database dump complete
--

\unrestrict RpS418tdv2UQbxb36OCSW6VtU7WJEmN2Pwr815wYl0IJbXLDkq0hnaz2veKI6DM

